.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: cover;	
}
  #song
  {
    background-color: white;
    border:2px solid #dbab4c ;
    width: 200px;
    color: #010101;
    }

    canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px red;
  }